<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd">
<!-- 
	<bean id="compactDisc" class="com.example.soundsystem.SgtPeppers"></bean>
	
	<bean id="cdPlayer" class="com.example.soundsystem.CDPlayer">
		<property name="compactDisc" ref="compactDisc"></property>
	</bean>

	<bean id="compactDisc" class="com.example.soundsystem.BlankDisc">
		<constructor-arg value="等你下课"></constructor-arg>
		<constructor-arg value="Jay"></constructor-arg>
		<constructor-arg>
			<list>
				<value>等你下课</value>
				<value>blank</value>
				<value>blank</value>
			</list>
		</constructor-arg>
	</bean>
	 -->
</beans>
